html{
  box-sizing: border-box;
	height: 100%;
}

body{
	height: 100%;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ------------------- */

.body {
	display: flex;
	flex-direction: column;
}

.main{
	flex-grow: 1;
}

.header {
	height: 50px;
	background-color: burlywood;
}

.container{
	max-width: 1180px;
	padding: 0 10px;
	margin: 0 auto;
}

.slider__title{
	font-size: 36px;
	line-height: 52px;
	font-family: cursive, sans-serif;
	text-align: center;
	margin: 35px 0;
}

.slider__btn{
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: black;
	border: none;
	padding: 0;
	margin: 0;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	top: -20px;
	z-index: 1000;
	cursor: pointer;
}

.slider__btn-prev{
	background-image: url(images/arrow-left.svg);
	left: 0;
}

.slider__btn-next{
	background-image: url(images/arrow-right.svg);
	right: 0;
}

.slider__wrapper{
	margin-left: 50%;
  transform: translateX(-50%);
	overflow: hidden;
}

.slider__items{
	width: 500%;
	display: flex;
	transition: .3s ease-out;
}

.slider__item{
	padding: 20px;
}

.slider__img{
	width: 427px;
	
}

.footer {
	height: 100px;
	background-color: darkgoldenrod;
}