@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

.body {
	color: #fff;
	background-color: maroon;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

.screen {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(270deg, rgba(0,0,0,1) 17%, rgba(92,0,0,1) 67%, rgba(187,0,0,1) 100%, rgba(249,0,0,1) 100%);
	transition: margin .3s ease-in;
}

.btn {
	padding: 0;
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 18px;
	line-height: 1;
	border: 2px solid #fff;
	width: 130px;
	height: 40px;
	display: inline-block;
	cursor: pointer;
	transition: all .3s;
	box-shadow: 2px 2px 2px rgba(255,255,255,0.5);
}

.btn:hover {
	border-color: #018D8E;
	color: #018D8E;
	box-shadow: 2px 2px 2px rgba(1,141,142,0.5);
}

.screen.up {
	margin-top: -100vh;
}

.main__title {
	font-size: 46px;
	line-height: 1;
	margin: 0;
}

.main__description {
	font-size: 18px;
	line-height: 1;
	margin: 40px 0;
}

.time__title {
	font-size: 32px;
	line-height: 1;
	margin: 0;
	margin-bottom: 40px;
}

.time__list {
	display: flex;
	padding: 0;
}

.time__item + .time__item {
	margin-left: 70px;
}

.game__dashboard{
	width: 400px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.game__timer-title,
.game__score-title {
	font-size: 18px;
	line-height: 1;
	margin: 0;
}

.game__timer-title-num {
	font-size: 22px;
}

.game__score-title-num {
	color: #018D8E;
}

.game__board {
	width: 500px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(270deg, rgba(71,57,57,1) 0%, rgba(0,0,0,1) 100%);
	border-radius: 40px;
	box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
	overflow: hidden;
	position: relative;
}

.circle {
	position: absolute;
	border-radius: 50%;
	cursor: pointer;
	background-color: #fff;
}

.score__title {
	font-size: 32px;
	line-height: 1;
	margin: 0;
}

.score__title-num {
	color: #018D8E;
	font-size: 38px;
}

.hide {
	opacity: 0;
}